.navbar {
  background-color: rgb(0, 0, 0);
}

body {
  background-color: rgb(0, 0, 0);
}
.sss-centerheader {
  text-align: center;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
}

.profile_pic {
  border-radius: 50%;
}

.carousel-item {
    height: 500px;
    text-align: center;
}


.item1 {
  background-color:rgb(100, 248, 253);
  /*height: 100px;*/
}

.item2 {
  background-color:cyan;
  /*height: 100px;*/
}

.item3 {
  background-color:aqua;
  /*height: 100px;*/
}
